{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    {% endblock %}
    
    <title>Document</title>
</head>
<body>
    {% include "navbar.html" %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
    {% for image in images %}
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {{ image.image_description}}
            <img src="{{ image.image.url }}" class="img-responsive" alt="Image" height="420" width="420">
    </div>
    {% endfor %}
    </body>
</html>