
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container"style="font-family: 'Marck Script', cursive;  color: ghostwhite ">

  <div class="row">
    {% if images%}
      <h2 style="font-size: 50px;">Found {{ images|length }} pictures under {{message}}</h2>
    {% else %}
      <h2 style="font-size: 50px;" > Found 0 images  {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
  {% for img in images %}
  <div class="col-md-3 col-sm-4 col-xs-12 single_portfolio_text"><img src="{{img.image.url}}"  style="width: 400px; height:300px;margin-bottom: 25px;border-radius: 20%" class="img-responsive" alt="Image"></div>
  
  {% endfor %}
  {% endif %}
  </div>
</div>

{% endblock %}
